* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000;
  position: relative;
  color: #fff;
}

.text {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  top: 30%;
  font-size: 72px;
  font-family:cursive;
}

.player {
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 15px 5px rgba(0, 250, 0, 1);
  color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.player-img {
  width: 100px;
  height: 100px;
}

.player-main {
  width: 620px;
}

.player-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

@keyframes roller {

  from {
    transform: rotate(0)
  }
  
  to {
    transform:rotate(360deg)
  }
}

.active {
  animation: 20s roller linear infinite;
}

.player-progress {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 4px;
  width: 100%;
  display: flex;
  margin: 0 10px;
}
  
.progress {
  background: rgba(0, 250, 0, 1);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.player-controls {
  position: relative;
  width: 200px;
  left:35%;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}
  
.fas:hover {
  filter: brightness(80%);
}
  
.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.player-songname {
  width: 250px;
  display: flex;
  flex-direction: column;
}

h2, h3 {
  display: inline;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.overlay-content img {
  width: 40px;
  height: 40px;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
/*   top: 20px; */
  right: 45px;
  font-size: 60px;
}

#burger {
  font-size: 30px;
  cursor: pointer;
}

.hrt {
  background-color: #878787;
  height: 1px;
  margin-top: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  margin-left: 15px;
}

.list-item:hover {
  filter: brightness(80%);
  cursor: pointer;
}